<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748439903335-enj74u8pifuakfjras8q0qlsmop8f1ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748439903335-enj74u8pifuakfjras8q0qlsmop8f1ff</string>
	<key>API_KEY</key>
	<string>AIzaSyBXY9YP0jgf0tJ3O2A4gC0E2CQoviVX5YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748439903335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.badar.iOSDeveloper.QuizzApp</string>
	<key>PROJECT_ID</key>
	<string>quizz-app-d5d06</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-app-d5d06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748439903335:ios:ca2204117c722c820908c2</string>
</dict>
</plist>